
npm-debug.log*

# Dependency directory
node_modules
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

dist
bundles

/*.js
/*.js.map
#/*.d.ts

app/**/*.js
app/**/*.js.map
app/**/*.d.ts

demos/*/app/**/*.js
demos/*/app/**/*.map
demos/*/app/**/*.d.ts

.idea/workspace.xml